</script>
<div id="after-overlay"></div>
<div id="app-container" ng-controller="GameController">
<div id="menu-container">
<!-- Brand and toggle get grouped for better mobile display -->

<!-- Fixed Logo & Menu Bar Start -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobileToggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a href="/" class="navbar-brand text-white bold" onClick="scroll(0,0)">CARDS FOR HUMANITY</a>
    </div>
    <div class="collapse navbar-collapse" id="mobileToggle">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <span id="tweet-container">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://cfh.io" data-text="Cards for Humanity: A Game for Horrible People Desperately Trying to do Good" data-related="CFH_App">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </span>
        </li>
        <li>
          <button class="btn custom-button" ng-click="abandonGame()">Abandon Game</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div> 
<!-- Fixed Logo & Menu Bar End -->
  <div class="gameplay-container container-fluid" id="gameplay-container">
    <div id="upper-gameplay-container">
      <div id="menu-timeremaining-container">
        <div id="menu-container">
          <span id="menu-button">Menu</span>
        </div>
        <div id="timer-container">
          <timer></timer>
        </div>
      </div>
      <div id="question-container-outer">
        <question></question>
      </div>
    </div>
    <answers></answers>
    <chat></chat>
  </div>
</div>