<div class="chat">
  <div class="chat-header">Chat Box</div>
  <notification-icon count="notificationCount" animation="bounce" clear-trigger="mouseover">
    <span aria-hidden="true" id="close-chat">&times;</span>
  </notification-icon>
  <div clas="chat-body">
     <div class="chat-message">
       <ul ng-repeat="message in messagesArray">
         <li><b>{{message.author}}:</b> {{message.messageContent}}</li>
       </ul>
     </div>
     <div class="chat-textarea">
       <form ng-submit="sendMessage()" class="form-group">
         <input ng-model="message" class="form-control" placeholder="Type your message here!" type="text" name="chat-textarea" id="chat-text-area" autocomplete="off" />
       </form>
     </div>
  </div>
</div>