<div class="row" id="question-container-inner">
  <div class="row card longBlack">
      <span class="text-danger"ng-bind-html-unsafe="game.curQuestion.text" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'"></span>
      <div id="notifications" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>
      
      <div id="startGame" ng-show="game.state === 'awaiting players'">
          <div id="finding-players"><h3 class="bold">Finding Players</h3></div>
          <div class="player-count-container" id="player-count-container">
              <div class="player-count" id="player-count"><h4>{{game.players.length}} / 12 Players avaliable<h4></div>
              <div id="loading-container">
                  <div id="loading-gif"><img ng-src="../img/loader4.gif"/></div>
              </div>
          </div>
          <div class="row start-game-row">
            <div class="pull-left">
                <button type="button" data-toggle="modal" data-target="#start_game_modal" class="btn btn-default home-button custom-button">Start Game</button>
            </div>
            <div class="pull-right">
                <button type="button" data-toggle="modal" data-target="#invite_friend_modal" class="btn btn-default home-button custom-button">Invite Friend</button>
            </div>
            
            <!-- Start Game Modal -->
            <div id="start_game_modal" class="modal fade" role="dialog">
              <div class="modal-dialog">
            
                <!-- Start Game Modal content-->
                <div class="modal-content">
                  <div class="modal-header background-blue">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center bold text-white">Player Requirement</h4>
                  </div>
                  <div class="modal-body">
                    <h4 ng-show="game.players.length >= game.playerMinLimit">Do you want to start game?</h4>
                    <h4 ng-show="game.players.length < game.playerMinLimit">Sorry! You require a minimum of three (3) players to play this game!</h4>
                    
                  </div>
                  <div class="modal-footer background-blue">
                    <button type="button" class="btn btn-default home-button custom-button" data-dismiss="modal">Close</button>
                    <button type="button" ng-show="game.players.length >= game.playerMinLimit" ng-click="startGame()" class="btn btn-primary home-button custom-button" data-dismiss="modal">Start</button>
                  </div>
                </div>
            
              </div>
            </div>
            <!-- Invite Friend Modal -->
            <div id="invite_friend_modal" class="modal fade" role="dialog">
              <div class="modal-dialog">
            
                <!-- Start Game Modal content-->
                <div class="modal-content">
                  <div class="modal-header background-blue">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center bold text-white">Invite Friends</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                        <input placeholder="Search friend" ng-keyup="searchedUsers()" ng-model="userName" type="text" class="form-control" id="userName">
                    </div>
                    <div class="search-members row">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Username</th>
                              <th>Add</th>
                              <th>Invite</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="user in foundUsers">
                              <td>{{ user.name }}</td>
                              <td><button class="btn btn-default">Add</button></td>
                              <td><button class="btn btn-default" ng-click="sendInvites(user.email)">Invite</button></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>
                  <div class="modal-footer background-blue">
                    <button type="button" class="btn btn-primary home-button custom-button" data-dismiss="modal" data-toggle="modal" data-target="#send_friends_invite_modal">Invite Friends</button>
                  </div>
                </div>
            
              </div>
            </div>
            <!-- Send Invite to Friend Modal -->
            <div id="send_friends_invite_modal" class="modal fade" role="dialog">
              <div class="modal-dialog">
            
                <!-- Start Game Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><b>Send Invites to Friends</b></h4>
                  </div>
                  <div class="modal-body">
                    <div class="search-members">
                      <div class="checkbox">
                        <label><input type="checkbox" value="">Kene</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="">Jatto</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="">Funsho</label>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Send Invite</button>
                  </div>
                </div>
            
              </div>
            </div>
          </div>
      </div>
      <!-- Game Over Stuff -->
      <div id="game-end-info">
        <div class="text-danger" id="people-left-game-top" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
          <div class="text-danger game-end-headline">What the!? The game ended because too many people left! </div>
          Our sincere apologies.
        </div>
    </div>
</div>
<!-- Start Game modal -->
  <div class="modal fade" id="start-modal" tabindex="-1" role="document" aria-labelledby="myModalLabel"
  aria-hidden="true" style="overflow-y:hidden;"> 
      <div class="modal-dialog panel"> 
          <div class="modal-content"> 
              <div class="modal-header popUpHeader background-blue"> 
                <h3 class="modal-title text-center bold text-white">Choose a question</h3> 
              </div> 
              <div class="modal-body">
               
               <h4 id="shuffleText">You are the Czar - Click card to pick the next question</h4>
                <div class="center">
                    <div ng-click="shuffleCards()" ng-style="{'cursor':'pointer'}" style='margin: auto; text-align:center'>
                    <img src='../img/card.jpg' style='width: 100px;' class='animated flipInX' id='shufflecard1' />
                     <img src='../img/card.jpg' style='width: 100px;' class='animated flipInX' id='shufflecard2' />
                    <img src='../img/card.jpg' style='width: 100px;' class='animated flipInX' id='shufflecard3' />
                    <img src='../img/card.jpg' style='width: 100px;' class='animated flipInX' id='shufflecard4' />
                  </div>
                </div>
              <div class="modal-footer background-blue"><h4 class="text-center bold text-white">Cards for Humanity</h4></div> 
          </div> 
      </div> 
  </div> 
</div>

        <div ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
          <div class="text-primary game-end-headline">Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!</div>We hope you feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde it all for youself.
        </div>
        <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
          <div class="text-danger game-end-headline">Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!</div>
          That makes you a loser, unfortunately.
        </div>
      </div>
  </div>
</div>
