body, html {
  background: #0B4F6C;
  margin: 0;
}

#content-body {
  background: #FFF;
  border-radius: 4px;
  padding: 2rem;
  margin: 2rem auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

.flex-center {
  display: flex;
}

/* custom input placeholder style */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #0B4F6C !important;
  font-family: 'Quicksand', sans-serif;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #0B4F6C !important;
  font-family: 'Quicksand', sans-serif;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #0B4F6C !important;
  font-family: 'Quicksand', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
  color: #0B4F6C !important;
  font-family: 'Quicksand', sans-serif;
}

.social-signup {
  margin-top: 3rem;
}

.social-signup > a > img {
  max-width: 7%;
  margin: 0 .3rem;    
}

span.auth-option {
  display: inline-block;
}

.auth-option > li {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.auth-option > li > a {
  display: inline-block; 
  padding: 10px 15px;
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
}

.auth-option > li > a:hover {
  color: #F2D234;
}

/* custom submit button to override bootstrap button */
.custom-button {
  background: #F2D234;
  color: #0B4F6C;
  border: 0px;
  padding: 1.5rem;
  border-radius: 0px;
  font-size: 1.4rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.custom-button:hover {
  background: #0B4F6C;
  color: #FFF;
  border: 1px solid #FFF;
}

custom-button:active, custom-button:focus {
  outline: none;
}

.hero-image {
  height: 80vh;
}

.hero-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80vh;
  width: 100%;
  opacity: 0.8;
  transition: .5s ease;
  background-color: #0B4F6C;
}

.hero-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
}

@media (max-width: 768px) {
  .hero-image {
    background-position-y: 70%;
    background-position-x: 28%;
  }

  .donation-mobile {
    height: 116vh;
  }

  .foot-mobile {
    height: 180px;
  }
}
.home-button {
  padding: 1.2rem 4rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.home-button:focus, .home-button:active {
  outline: none
}

.donation {
  height: 80vh;
}

.team-image {
  width: 75%;
  margin-top: 8rem;
}

.foot {
  height: 124px;
  border-radius: 0;
}

/* overriding existing styles */
.avatar-list img {
  max-width: 35px;
}

#contain-avatars {
  margin-top: 15px;
}

.avatars {
  cursor: pointer;
}

/* overriding bootstrap classes */
.form-control {
  padding: 2rem 1.5rem;
  border: 1px solid #0B4F6C;
}

.navbar {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}

.navbar-inverse {
  background: #0B4F6C;
}

.navbar-inverse .navbar-brand {
  color: #FFF;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
}

.navbar-inverse .navbar-brand:hover {
  color: #F2D234;
}

.navbar-inverse .navbar-nav > li > a {
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #F2D234;
}

.navbar-inverse .navbar-toggle {
  border-color: #FFF;
  cursor: pointer;
}

.navbar-inverse .navbar-toggle:hover {
  background: #0B4F6C;
}

.navbar-inverse .navbar-toggle:focus {
  outline: none;
  background: #0B4F6C;
}

.navbar-toggle {
  position: relative;
  float: left;
  padding: 9px 10px;
  margin-top: 8px;
  margin-left: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}


/* color classes */
.text-white {
  color: #FFF;
}

.text-primary {
  color: #0B4F6C;
}

.text-red {
  color: #D61D1D;
}

.background-white {
  background: #FFF;
}

.background-blue {
  background: #0B4F6C;
}

/* font weight classes */
.bold {
  font-weight: 700;
}

.slim {
  font-weight: 200;
}

.medium {
  font-weight: 400;
}

/* position classes */
.relative {
  position: relative;
}

/* spacing classes */
.padding {
  padding: 2rem;
}

.padding2 {
  padding: 4rem;
}

.padding-h {
  padding: 0rem 2rem;
}

.padding-v {
  padding: 2rem 0;
}

.padding-v-top {
  padding-top: 2rem;
}

.padding-h2 {
  padding: 0rem 4rem;
}

.padding-v2 {
  padding: 4rem 0;
}

.padding-none {
  padding: 0;
}

.padding-none-r {
  padding-right: 0;
}

.padding-none-l {
  padding-left: 0;
}

.margin {
  margin: 2rem;
}

.margin2 {
  margin: 4rem;
}

.margin-h {
  margin: 0rem 2rem;
}

.margin-v {
  margin: 2rem 0;
}

.margin-h2 {
  margin: 0rem 4rem;
}

.margin-v2 {
  margin: 4rem 0;
}

.line-height {
  line-height: inherit;
}

.home-card {
  border-radius: 4px;
  margin-bottom: 2rem;
  padding: 2rem 4rem;
  min-height: 23rem;
  cursor: pointer;
}

.home-card:hover {
  animation-name: shake;
	animation-duration: 0.8s;
	transform-origin:50% 50%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
  -webkit-animation-name: shake;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

/* shake animation */
@keyframes shake {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

@-webkit-keyframes shake {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.timer-status-round{
    color: whitesmoke;
    background: #0b4f6c;
    font-size: 16px;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
}

.transparent-bg{
    background: #252138;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.player-count-container{
    float: center;
}

.player-count{
    font-size: 9px;
}

.time{
    color: whitesmoke;

}

.start-game-row {
    margin-left: 15px;
    margin-right: 0px;
}

.gameplay-container{
  padding-top: 60px;
}

.cover-image{
  background-image:url('../img/hero.jpg');
}

.chat{
  position: absolute;
  bottom: -5px;
  right: -25px;
  width: 250px;
  background-color: white;
  border-radius: 5px;
}

@media (max-height: 500px) {
  .chat {
    position: absolute;
    bottom: -200px;
  }
}

.chat-message{
  height: 100px;
  overflow-y: scroll;
}

@media (max-height: 500px) {
  .chat-message {
    height: 50px;
    overflow-y: scroll;
  }
}

.chat-textarea{
  margin: 5px;
  padding: 5px;
}

.chat-header{
  background-color: #f2d234;
  font-size: 15px;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
}

.chat-body{
  background-color: white;
  width: 100%;
}

.card {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 17.5%;
  height: 215px;
  padding: 1%;
  margin: 1%;
  background-color: #fff;
  border-radius: 8px;
  color: #252525;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  vertical-align: top; }
  @media (max-width: 520px) {
    .card {
      font-size: 14px;
      height: 115px;
      word-wrap: break-word; } }
  .card.how-to {
    font-size: 1.4rem; }
  .card #selection-number {
    position: absolute;
    bottom: 1px;
    left: 7px;
    font-size: 18px; }
  .card.black {
    background: #252525;
    border-color: white;
    color: white; }
  .card.longBlack {
    background: #252525;
    border-color: white;
    color: white;
    height: 100%;
    width: 35.5em;
    padding-left: 2%;
    padding-right: 2%; }
  .card.smallest {
    font-size: 0.750em; }
    @media (max-width: 520px) {
      .card.smallest {
        font-size: 10px; } }
  .card u {
    position: relative;
    content: '';
    display: inline-block;
    width: 25%;
    text-decoration: none;
    height: 1em;
    border-bottom: 0.125em solid white;
    margin-bottom: -0.125em; }
    .card u .small {
      width: 25%; }
    .card u .big {
      width: 75%; }
    .card u .end:after {
      position: absolute;
      right: -0.357em;
      display: inline-block;
      content: '.'; }

.players-container{
  height: 200px;
  overflow-y: scroll;
}

.font-14p{
  font-size: 14px;
  font-weight: bold;
}

.font-12p{
  font-size: 12px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-members{
  height: 150px;
  overflow-y: scroll;
}

/* home modal */
#regionModal .modal-content {
    border-radius: 0px;
}

.custom-form input {
  border-radius: 0px;
}

select#region {
  width: 100%;
  border-radius: 0px;
  -webkit-appearance: none;
  padding: .5rem 1rem;
  border-color: #0b4f6c;
  background: #FFF;
  font-family: 'Quicksand', sans-serif;
}

select#region:focus, select#region:active {
  outline: none;
}

#regionModal .home-button {
  padding: 0.5rem 1.6rem;
  font-size: 1.2rem;
}

.card.longBlack {
  border-radius: 0px;
}

div#player-container, #start_game_modal .modal-content, #invite_friend_modal .modal-content, #start-modal .modal-content {
    border-radius: 0px !important;
}

#invite_friend_modal input {
  border-radius: 0px;
}

#invite_friend_modal input:active, #invite_friend_modal input:focus {
  outline: none;
}

table {
  font-family: 'Quicksand', sans-serif;
}

/* override default styles */
div#timer-container {
  background: white;
  border-radius: 0px;
}

.timer-status-round {
  border-radius: 0px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
}

div#time.time, #main-container #app-container #gameplay-container #upper-gameplay-container #menu-timeremaining-container #timer-container #inner-timer-container #time {
  color: #0B4F6C;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
}

#main-container #app-container #social-bar-container #player-container {
  padding: 1rem .1rem;
}

#main-container #app-container #social-bar-container #player-container #above-czar-container #avatar_ img {
  width: 5%;
}

#main-container #app-container #social-bar-container #player-container #above-czar-container #player-container-inner #player-name h4, .font-12p {
  color: #0B4F6C;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
}

/* mobile styles for game page */
@media (max-width: 768px) {
  #main-container #app-container #social-bar-container #player-container {
    width: 25%;
  }
}
